<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="{{ path('homepage') }}">
            <img src="{{ asset('build/images/skull.png')}}" alt="Logo" height="40" class="me-2">
            Checkpoint 3
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('homepage') }}">Instructions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('map') }}">Map</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Boat Movement
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ path('moveDirection', {'direction': 'N'}) }}">Move North</a></li>
                        <li><a class="dropdown-item" href="{{ path('moveDirection', {'direction': 'S'}) }}">Move South</a></li>
                        <li><a class="dropdown-item" href="{{ path('moveDirection', {'direction': 'E'}) }}">Move East</a></li>
                        <li><a class="dropdown-item" href="{{ path('moveDirection', {'direction': 'W'}) }}">Move West</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
